.package-800{
    position: relative;
    background-color: rgb(104, 104, 233);
    margin-top: -4%;
    border-radius: 25px;

}
.hot-pack{
    position:absolute;
    top: -3%;
    right: 10%;
}
.my-tost{
    
}